body{
    background-color: black;
    color: royalblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    color: aquamarine;
    margin-bottom: 70px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}
header > img{
    height: 15vh;
}
input{
    appearance: none; /* Elimina la apariencia nativa */
    width: 200px; /* Ancho del control deslizante */
    height: 5px; /* Altura del control deslizante */
    border-radius: 30%; /* Borde redondeado */
}
.luminosidad{
    background: yellow; /* Color del control deslizante */
}
.rotacion{
    background: orange; 
}
.tamaño{
    background: orangered; 
}
main{
    display: flex;
    justify-content: space-around;
}
.containerLight{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.bombilla{
    position: absolute;
    top: 0;
    left: 30%;
    z-index: -1;
    transition: all 1s;
}
.bombilla-fondo{
    z-index: -2;
}